@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300&display=swap');
body {
  font-family: "Roboto Condesed" sans-serif;
} 
:root{
  --primary-orange : black 
}
 nav a.nav-link{
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
nav ul li{
   text-transform: uppercase;
   margin-right: 10px;
  
}
logo{
  margin-right: 200px;
}
.navbar-nav > li >a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.185rem solid var(--primary-orange)
}
.navbar-nav > li > a:hover{
  border-top: 0.185rem solid var(--primary-orange)
}